ComCon/ComCon.Client.Base/Service References/ServerService/ServerFunctions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerFunctions" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServerFunctions_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8501/MetaInfo?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8501/MetaInfo?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8501/MetaInfo?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComCon.Shared.Classes" />
      <xsd:import schemaLocation="http://localhost:8501/MetaInfo?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerFunctions_ConnectToServer_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToServer" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_ConnectToServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToServerResponse" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_DisconnectFromServer_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectFromServer" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_DisconnectFromServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectFromServerResponse" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_Send_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_ConnectToChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToChannel" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_ConnectToChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_DisconnectFromChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectFromChannel" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_DisconnectFromChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectFromChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_GetChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannels" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_GetChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_ShowMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowMessage" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_UpdateUserList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserList" />
  </wsdl:message>
  <wsdl:message name="IServerFunctions_UpdateUserList_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserListResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerFunctions">
    <wsdl:operation name="ConnectToServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerFunctions/ConnectToServer" message="tns:IServerFunctions_ConnectToServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerFunctions/ConnectToServerResponse" message="tns:IServerFunctions_ConnectToServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectFromServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerFunctions/DisconnectFromServer" message="tns:IServerFunctions_DisconnectFromServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerFunctions/DisconnectFromServerResponse" message="tns:IServerFunctions_DisconnectFromServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Send">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerFunctions/Send" message="tns:IServerFunctions_Send_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerFunctions/SendResponse" message="tns:IServerFunctions_Send_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectToChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerFunctions/ConnectToChannel" message="tns:IServerFunctions_ConnectToChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerFunctions/ConnectToChannelResponse" message="tns:IServerFunctions_ConnectToChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectFromChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerFunctions/DisconnectFromChannel" message="tns:IServerFunctions_DisconnectFromChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerFunctions/DisconnectFromChannelResponse" message="tns:IServerFunctions_DisconnectFromChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChannels">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerFunctions/GetChannels" message="tns:IServerFunctions_GetChannels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerFunctions/GetChannelsResponse" message="tns:IServerFunctions_GetChannels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerFunctions/GetUser" message="tns:IServerFunctions_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerFunctions/GetUserResponse" message="tns:IServerFunctions_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerFunctions/GetUsers" message="tns:IServerFunctions_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerFunctions/GetUsersResponse" message="tns:IServerFunctions_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerFunctions/ShowMessage" message="tns:IServerFunctions_ShowMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserList">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerFunctions/UpdateUserList" message="tns:IServerFunctions_UpdateUserList_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServerFunctions/UpdateUserListResponse" message="tns:IServerFunctions_UpdateUserList_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServerFunctions" type="tns:IServerFunctions">
    <wsp:PolicyReference URI="#NetTcpBinding_IServerFunctions_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConnectToServer">
      <soap12:operation soapAction="http://tempuri.org/IServerFunctions/ConnectToServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisconnectFromServer">
      <soap12:operation soapAction="http://tempuri.org/IServerFunctions/DisconnectFromServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap12:operation soapAction="http://tempuri.org/IServerFunctions/Send" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToChannel">
      <soap12:operation soapAction="http://tempuri.org/IServerFunctions/ConnectToChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisconnectFromChannel">
      <soap12:operation soapAction="http://tempuri.org/IServerFunctions/DisconnectFromChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannels">
      <soap12:operation soapAction="http://tempuri.org/IServerFunctions/GetChannels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/IServerFunctions/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/IServerFunctions/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowMessage">
      <soap12:operation soapAction="http://tempuri.org/IServerFunctions/ShowMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserList">
      <soap12:operation soapAction="http://tempuri.org/IServerFunctions/UpdateUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerFunctions">
    <wsdl:port name="NetTcpBinding_IServerFunctions" binding="tns:NetTcpBinding_IServerFunctions">
      <soap12:address location="net.tcp://localhost:8500/ChatService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8500/ChatService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>TOMS-RECHNER\gener_000</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>